* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    font-family: Arial, Helvetica, sans-serif;

    background:
        linear-gradient(
            135deg,
            #fff0f6,
            #f3e8ff,
            #e0f2fe
        );

    color: #222;
}

#root {
    width: 100%;
    min-height: 100vh;

    overflow: visible;
}