/* =====================================
   GLOBAL RESPONSIVE DESIGN
   ===================================== */



*{

box-sizing:border-box;

}




img{

max-width:100%;

}




/* Large Laptop */

@media(max-width:1400px){


.sidebar{

width:250px;

}



.main-content{

margin-left:250px;

}



}





/* Laptop */

@media(max-width:1200px){


.gallery-grid{

grid-template-columns:
repeat(2,1fr);

}



.dashboard-cards{

grid-template-columns:
repeat(2,1fr);

}


}




/* Tablet */

@media(max-width:992px){


.sidebar{


position:fixed;

left:-300px;

transition:.4s;


}



.sidebar.active{

left:0;

}



.main-content{


margin-left:0;

padding:20px;


}



.navbar{


padding:15px;

}



.gallery-grid{


grid-template-columns:
1fr;


}



.timeline-container::before{

left:20px;

}



}





/* Mobile Tablet */

@media(max-width:768px){



body{

overflow-x:hidden;

}



.navbar h1{

font-size:22px;

}



.hero h1{

font-size:35px;

}



.hero p{

font-size:15px;

}



.dashboard-cards{


grid-template-columns:

1fr;


}



.letter-card{

padding:25px;

}



.gift-box{

width:200px;

height:200px;

}



.footer h2{

font-size:25px;

}



}




/* Mobile */

@media(max-width:576px){



.container{

padding:15px;

}



.hero h1{

font-size:28px;

}



.countdown-grid{

grid-template-columns:

1fr;


}



.time-card{

padding:25px;

}



.gallery-card{

height:280px;

}



.memory-card{

border-radius:20px;

}



.quote-text{

font-size:18px;

}



.firework-message h1{

font-size:25px;

}



}





/* Small Mobile */

@media(max-width:375px){



.hero h1{

font-size:24px;

}



.navbar{

flex-direction:column;

gap:10px;

}



.logo img{

width:80px;

height:80px;

}



button{

max-width:100%;

}



}



/* Landscape Mobile */

@media(max-height:500px)
and
(orientation:landscape){



.sidebar{

overflow-y:auto;

}



.hero{

min-height:600px;

}



}